h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: red wavy;
    font-size: 65px;
}

p {
    text-align: center;
    line-height: 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
}
h3 {
    text-align: center;
}